@import "../core/main";

.main-login {
  margin: 150px 0 340px 0;
  .container {
    .login-box {
      h2 {
        margin: 0 0 $s1 0;
      }
      .form-control {
        margin: $s3 0 $s05 0;
      }
    }
  }
}
