@import "../core/main";

.main-login {
  margin: 150px 0 340px 0;
  .container {
    .login-box {
      h2 {
        margin: 0 0 $s1 0;
      }
      .form-control {
        margin: $s3 0 $s05 0;
      }
      .primary-button{
        width: 100%;
        padding: 7px 0;
        margin: $s4 0 $s2 0;
        border-radius: 5px;
      }
    }
  }
}
