@import "../core/main";

.header {
  border-bottom: 1px solid $color-scale1;
  .container {
    .about-us {
      li {
        margin: 0 0 0 $s4;
      }
    }
  }
}

.main-people {
  .container {
    .section-people {
      margin: $s2 0 0 $s1;
      padding: 0 0 $s20 0;

      .card-layout {
        margin: 0 0 $s2 0;
        padding: 0 $s1;
        perspective: 600px;
      }
    }
  }
}
