.icon{
  display: inline-block;
  font-size: $font-size-global;
  color: $color-scale3;
  margin: 0 $s05 0;
}

.icon-twitter {
  color: $color-twitter;
}

.icon-instagram {
  color: $color-instagram;
}

.icon-github {
  color: $color-github;
}

.icon-linkedin {
  color: $color-linkedin;
}

.icon-codepen {
  color: $color-codepen;
}
