.wrapper {
  overflow: hidden;
}

.container {
  max-width: $layout-desktop;
  width: 100%;
  margin: auto;
}

.header {
  padding: $s3;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      font-size: $font-size-hf;
      font-family: $font-exo;
    }

    .header-logo {
      height: 40px;
    }

    .about-us {
      display: flex;
    }
  }
}

.main {
  .container {
    .section-top {
      display: flex;
      justify-content: space-between;
    }
    .section-bottom {
      .img-programs {
        display: flex;
      }
    }
  }
}

.main-login {
  .container {
    .login-box {
      width: 300px;
      margin: auto;
      .password {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.main-register {
  .container {
    .register-box {
      width: 470px;
      margin: auto;
      .personal-form {
        .personal-data {
          display: flex;
          flex-wrap: wrap;
          .gender-field {
            .radio-list {
              display: flex;
            }
          }
        }
      }
    }
  }
}

.main-people {
  .container {
    display: flex;

    .aside-people {
      width: 20%;
    }
    .section-people {
      padding: 0 0 $s20 0;
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      .card-layout {
        width: 25%;
      }
    }
  }
}

.footer {
  padding: $s3;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
      font-size: $font-size-hf;
      a {
        text-decoration: underline;
      }
    }
    .footer-logo {
      height: 20px;
    }
  }
}
