.wrapper {
  overflow: hidden;
}

.container {
  max-width: $layout-desktop;
  width: 100%;
  margin: auto;
}

.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social-media {
      display: flex;
      align-items: center;
    }
  }
}

.main {
  .container {
    .section-top{
      display: flex;
      justify-content: space-between;
    }
    .section-bottom{
      .img-programs{
        display: flex;
        
      }
    }
  }
}

.footer {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
