p {
  font-family: $font-arial;
  font-size: $font-size-global;
  margin: 0 0 $s2 0;
  color: $color-txt-prim;
}

b{
  font-weight: $font-bold;
}

a{
  font-family: $font-arial;
  color: $color-txt-prim;
  text-decoration: none;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-exo;
  font-weight: $font-bold;
  margin: 0 0 $s2 0;
  color: $color-txt-title;
}

h1{
  font-size: $font-size-h1;
  line-height: 38px;
}

h2{
  font-size: $font-size-h2;
  line-height: 32px;
}

h3{
  font-size: $font-size-h3;
  line-height: 30px;
}

h4{
  font-size: $font-size-h4;
  line-height: 26px;
}

h5{
  font-size: $font-size-h5;
  line-height: 24px;
}

h6{
  font-size: $font-size-h6;
  line-height: 22px;
}

.txt-list{
  font-size: $font-size-list;
  color: $color-scale3;
}

.txt-little{
  margin: $s05 0;
  font-size: $font-size-hf;
  color: $color-scale3;
}

.txt-littlest{
  margin: $s02 0;
  font-size: $font-size-littlest;
  color: $color-scale2;
}

.primary-link{
  color: $color-txt-sec;
  font-weight: $font-bold;
}
