/*--url---------------------------------------------------------------*/

$url-dist: "..";
$url-public-fonts: "../fonts";

/*--font---------------------------------------------------------------*/

$font-exo: "Exo";
$font-arial: "Arial";

$font-size-base: 62.5%; /* 10px*/
$font-size-global: 1.6rem;
$font-size-littlest: 1rem;
$font-size-little: 1.1rem;
$font-size-hf: 1.2rem;
$font-size-list: 1.4rem;
$font-size-social: 2.5rem;
$font-size-h1: 3.2rem;
$font-size-h2: 2.6rem;
$font-size-h3: 2.4rem;
$font-size-h4: 2rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.6rem;

$font-bold: 700;
$font-bolder: 1000;

/*--color---------------------------------------------------------------*/

$color-branding: (
  primary: #3dc154,
  secondary: #ffba7a
);

$color-fonts: (
  titles: #0d3964,
  primary: #1b4f82
);

$color-txt-title: map-get($color-fonts, titles);
$color-txt-prim: map-get($color-fonts, primary);
$color-txt-sec: map-get($color-branding, primary);

$color-semantic: (
  error: #ff0000,
  warning: #ffd0a5,
  success: #059d2b,
  information: #5075ea
);

$color-neutral: (
  scale0: #fff,
  scale1: #dedede,
  scale2: #7f7f7f,
  scale3: #5d5d5d,
  scale5: #000
);

$color-scale0: map-get($color-neutral, scale0);
$color-scale1: map-get($color-neutral, scale1);
$color-scale2: map-get($color-neutral, scale2);
$color-scale3: map-get($color-neutral, scale3);
$color-scale5: map-get($color-neutral, scale5);

$color-hover: (
  primary: rgba(61, 193, 84, 0.16),
  secondary: rgba(255, 186, 122, 0.16)
);

$color-hover-prim: map-get($color-hover, primary);
$color-hover-sec: map-get($color-hover, secondary);

$color-networks: (
  instagram: #566cfe,
  twitter: #007ebf,
  github: #000000,
  linkedin: #1a2e88,
  codepen: #000000
);

$color-instagram: map-get($color-networks, instagram);
$color-twitter: map-get($color-networks, twitter);
$color-github: map-get($color-networks, github);
$color-linkedin: map-get($color-networks, linkedin);
$color-codepen: map-get($color-networks, codepen);

/*--buttons---------------------------------------------------------------*/

$button-bg-prim: map-get($color-branding, primary);
$button-bg-sec: map-get($color-branding, secondary);

$button-color-white: map-get($color-neutral, scale0);

$button-font-size: 18px;

/*--form---------------------------------------------------------------*/

$form-prim: map-get($color-branding, primary);

/*--checkbox---------------------------------------------------------------*/

$check-bg-prim: map-get($color-branding, primary);

/*--radio---------------------------------------------------------------*/

$radio-bg-prim: map-get($color-branding, primary);

/*--radio---------------------------------------------------------------*/

$card-prim: map-get($color-branding, primary);

/* layout
---------------------------------------------------------------*/

$layout-desktop: 960px;

/* $mq
---------------------------------------------------------------*/

$mq-tablet: 800px;
$mq-mobile: 601px;
$mq-mobile-sm: 400px;

/* $padding-margins
---------------------------------------------------------------*/

$s02: 2px;
$s05: 5px;
$s1: 10px;
$s2: 20px;
$s3: 30px;
$s4: 40px;
$s5: 50px;
$s6: 60px;
$s7: 70px;
$s8: 80px;
$s9: 90px;
$s10: 100px;
$s20: 200px;
$s30: 300px;
