/*--url---------------------------------------------------------------*/

$url-dist: "..";
$url-public-fonts: "../fonts";

/*--font---------------------------------------------------------------*/

$font-exo: "Exo";
$font-arial: "Arial";

$font-size-base: 62.5%; /* 10px*/
$font-size-global: 1.6rem;
$font-size-hf: 1.2rem;
$font-size-social: 2.0rem;

/*--typography---------------------------------------------------------------*/

/*--buttons---------------------------------------------------------------*/

$button-bg-primary: "";
$button-bg-secondary: "";

/*--forms---------------------------------------------------------------*/

/*--color---------------------------------------------------------------*/

$color-fonts: (
  primary: #0d3964
);

$color-txt-prim: map-get($color-fonts, primary);

$color-branding: (
  primary: #3dc154,
  secondary: #ffba7a
);

$color-semantic: (
  error: red,
  warning: yellow,
  success: green,
  information: blue
);

$color-neutral: (
  white: white,
  black: #5d5d5d,
  gray: gray
);

/* layout
---------------------------------------------------------------*/

$layout-desktop: 960px;

/* $mq
---------------------------------------------------------------*/

$mq-desktop: 1024px;
$mq-tablet: 800px;
$mq-mobile: 601px;
$mq-mobile-sm: 400px;

/* $padding-margins
---------------------------------------------------------------*/

$s02: 2px;
$s05: 5px;
$s1: 10px;
$s2: 20px;
$s3: 30px; 
$s4: 40px;
